
/* This is the global background of the slideshow */
.slideshow-background {
    background-color: black;
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* Align content to the top of the box */
    justify-content: flex-start;
    /* Center the box so that it is in the middle of the website */
    margin: auto; 
    /* Add some padding to space the title from the top of the box */
    padding-top: 30px; 
    border-radius: 3%;
    border: 5px solid white;
}

/* This is for the global title style */
.slideshow-background p.slide-title {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 30px;
    /* Reset margin so that it doesn't cause errors */
    margin: 0; 
    /* Add space between the title and the buttons */
    margin-bottom: 30px; 
}

/* This is for the buttons inside slide one */
.buttons-slide {
    display: grid;
    /* Space between buttons */
    row-gap: 20px; 
    grid-template-columns: repeat(1, 1fr);
    /* This is the width for the buttons */
    width: 400px; 
    justify-items: center;
}

/* Button base styles */
.buttons-slide button {
    padding: 20px 100px;
    width: 400px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* This is for the text inside the slides like for example: TheDemonFire's Events */
.slideshow-background p.global-slide-subtext {
    padding: 20px 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    /* Reset margin so that it doesn't cause errors */
    margin: 0; 
    /* Add space between the title and the buttons */
    margin-bottom: 30px;
    text-align: center;
}
