
/* This is for the customazation of the head image */
.head-image img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /* This is here to center the image */
    display: block;
    margin: 0 auto; 
    margin-bottom: -40px;
}

/* This is for the customazation of the head text */
.head-text {
    /* This is here to center the head text */
    display: flex;
    justify-content: center; 
    align-items: center;
    /* This is the font for the head text */
    font-family: "Roboto", serif;
    font-weight: 600;
    /* This is general customazation for the head text */
    height: 125px; 
    color: white;
    text-shadow: 0 0 10px #fff, 
                 0 0 20px #fff, 
                 0 0 30px #fff, 
                 0 0 40px #fff, 
                 0 0 50px #fff, 
                 0 0 60px #fff, 
                 0 0 70px #fff; 
    margin-top: 10px; /* Adjust this value as needed for spacing */
}

/* This is for the customazation of the buttons */
.social-buttons button {
    width: 450px;
    height: 75px;
    color: white;
    margin-top: -15px;
    cursor: pointer;
    /* Border customazation */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-color: white;
    /* This is the font for the text in the buttons */
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    /* This is here to center the buttons */
    display: block;           
    margin-left: auto;        
    margin-right: auto;
}

/* Remove underlines that occur because of how the "a" tag has it's link style */
.social-buttons a {
    /* Remove the underline */
    text-decoration: none;
}
.social-buttons button a {
    color: white;
    /* Remove underline from button text */
    text-decoration: none;
}

/* This section is for how the buttons react when a user hovers over them */

/* YouTube and YouTube Music button */
.youtube {
    background-color: none;
}
.youtube:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* Spotify button */
.spotify {
    background-color: none;
}
.spotify:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* Instagram button */
.instagram {
    background-color: none;
}
.instagram:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* TikTok button */
.tiktok {
    background-color: none;
}
.tiktok:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* Apple Music button */
.apple-music {
    background-color: none;
}
.apple-music:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* Amazon button */
.amazon {
    background-color: none;
}
.amazon:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 350;
}

/* This section is for the customazation of the table */

/* This is for the table background */
.table {
    background-color: white;
    width: 1000px; 
    margin-left: auto;
    margin-right: auto; 
}

/* This is for the titles inside the table */
.table-title {
    font-family: "Roboto", serif;
    font-weight: 600;
    height: 35px;
    color: white;
    background-color: rgb(24, 37, 60);
}

/* This is for the table rows inside of the table */

/* This is for all of the white rows in the table */
.white_row {
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-family: "Roboto", serif;
    font-weight: 350;
    color: black;
    text-align: center;
}

/* This is for all of the gray rows in the table */
.gray_row {
    background-color: rgb(232, 232, 232);
    height: 30px;
    font-family: "Roboto", serif;
    font-weight: 350;
    color: black;
    text-align: center;
}

