
/* This is for the main image on the website */
.image img { 
    width: 125px;
    height: 125px;
    padding: 1%;
    /* This is here so that the picture is a circle */
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
}

/* This is for the main text on the website */
.title-text p{
    /* This is the space between the main image and the main text */
    margin-top: -15px; 
    margin-bottom: 50px;
    color: white;
    text-shadow: 0 0 10px #fff, 
                0 0 20px #fff, 
                0 0 30px #fff, 
                0 0 40px #fff, 
                0 0 50px #fff, 
                0 0 60px #fff, 
                0 0 70px #fff;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 30px;
    /* This will ensure that the text is centered */
    text-align: center;
}

/* This is for the clock that is in the bottom right corner */
#clock {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 7px;
    border-radius: 8px;
    border: none;
    /* Ensure it's on top of other content */
    z-index: 1000;
}

/* This is the table background in slideshow two */
.slideshow-background-table {
    background-color: white;
    width: 600px; 
}

/* This is for the titles inside the table */
.events-title {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    height: 35px;
    color: white;
    background-color: rgb(24, 37, 60);
}

/* This is for the table rows inside the table on "TheDemonFire's Events" */

/* This is for row one in the table */
.contents_row_one {
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

/* This is for row two in the table */
.contents_row_two {
    background-color: rgb(232, 232, 232);
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

/* This is for row three in the table */
.contents_row_three {
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

/* This is for row four in the table */
.contents_row_four {
    background-color: rgb(232, 232, 232);
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

/* This is for row five in the table */
.contents_row_five {
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

/* Customize each button's color default and hover state on "TheDemonFire's Platforms" */

/* YouTube button */
.youtube {
    background-color: rgb(227, 0, 0);
}
.youtube:hover {
    background-color: rgb(227, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* YouTube Music button */
.youtube-music {
    background-color: rgb(227, 0, 0); 
}
.youtube-music:hover {
    background-color: rgb(227, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* Spotify button */
.spotify {
    background-color: rgb(2, 206, 32);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.spotify:hover {
    background-color: rgb(2, 206, 32);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* Instagram button */
.instagram {
    background-color: rgb(229, 3, 169);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.instagram:hover {
    background-color: rgb(229, 3, 169);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* TikTok button */
.tiktok {
    background-color: rgb(84, 2, 62);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.tiktok:hover {
    background-color: rgb(84, 2, 62);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* Apple Music button */
.apple-music {
    background-color: rgb(204, 0, 65); 
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.apple-music:hover {
    background-color: rgb(153, 0, 48); 
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

/* Amazon button */
.amazon {
    background-color: rgb(2, 29, 237);
    font-family: "Open Sans", sans-serif;
    font-weight: bold; 
}
.amazon:hover {
    background-color: rgb(2, 29, 237);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
